<template>
  <div class="inline-container">
    <div class="title">Rules Engine</div>
    <button class="primary-btn add-btn" @click="$store.commit('createNewRule')">+</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class RuleTitle extends Vue {
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

  .inline-container {
    justify-content: space-between;
    padding: 25px 20px;
    border-bottom: $border;
  }
  .title {
    font-size: 25px;
  }
  .add-btn {
    font-size: 26px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0;
  }
</style>
