<template>
  <div class="container" v-if="haveRuleSelected">
    <input
      class="input rule-name"
      type="text"
      placeholder="Rule name"
      :value="ruleName"
      @input="$store.commit('updateRuleName', $event.target.value)" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class RuleName extends Vue {
  get haveRuleSelected() {
    return Boolean(this.selectedRule)
  }
  get selectedRule() {
    return this.$store.getters.selectedRule
  }
  get ruleName() {
    if (!this.selectedRule) {
      return ''
    }
    return this.selectedRule.name
  }
}
</script>

<style scoped lang="scss">
  .container{
    padding: 20px;
  }
  .rule-name{
    width: 500px;
    height: 35px;
    font-size: 25px;
  }
</style>
