<template>
  <div class="container">

    <div v-if="!haveRuleSelected" class="no-rule">
      <span>No Rule Selected</span>
    </div>

    <div v-else class="content">
      <RuleEvent />
      <RuleCondition />
      <RuleAction />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator'
import RuleAction from "./RuleBodyComponents/RuleAction.vue"
import RuleCondition from "./RuleBodyComponents/RuleCondition.vue"
import RuleEvent from "./RuleBodyComponents/RuleEvent.vue"
import ruleMixin from "@/components/RuleMixin";

@Component({components: {
  RuleAction,
  RuleCondition,
  RuleEvent,
}})
export default class RuleBody extends Mixins(ruleMixin) {
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

  .container{
    height: 100%;
  }
  .no-rule{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    opacity: .5;
  }
  .content{
    border-top: $border;
    padding: 20px;
  }
</style>
