<template>
  <div class="container">
    <div
      v-for="(rule, index) in rules"
      :key="index" class="rule-item"
      :class="{'rule-item-focused': isSelectedRule(rule)}"
      @click="selectRule(rule.id)"
    >
      <div class="rule-item-name">{{rule.name}}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class RuleSidebar extends Vue {
  get rules() {
    return this.$store.getters.rules
  }
  get selectedRule() {
    return this.$store.getters.selectedRule
  }
  selectRule(ruleId: string) {
    this.$store.commit("selectRule", ruleId)
  }
  isSelectedRule(rule: Types.Rule) {
    if (!this.selectedRule) {
      return false
    }
    return this.selectedRule.id === rule.id
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

  .container{
    border-right: $border;
    background: #fdfdfd;
  }
  .rule-item {
    background: white;
    padding:15px;
    border-bottom: $border;
    &:hover {
      cursor: pointer;
      background-color:rgba(80, 214, 255, .3)
    }
  }
  .rule-item-focused{
    background-color: rgb(80, 214, 255);
    color: white;
  }
  .rule-item-name {
    font-size: 22px;
  }
</style>
