<template>
  <div class="container">
    <div v-if="!haveRuleSelected" class="no-rule">

    </div>

    <div v-else class="content">
      <div class="left-buttons">
        <button class="negative-btn" @click="$store.commit('archiveRule')">Archive</button>
      </div>
      <div class="right-buttons">
        <button class="neutral-btn" @click="$store.commit('cancelRule')">Cancel</button>
        <button class="primary-btn" @click="$store.commit('saveRule')">Save</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator'
import ruleMixin from "@/components/RuleMixin";

@Component
export default class RuleControls extends Mixins(ruleMixin) {}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

 .content{
    border-top: $border;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
  }
  .primary-btn{
    margin-left: 25px;
  }
</style>
