<template>
  <div class="container">
    <div class="sub-header">
      Do
    </div>

    <div class="content row-flex">
      <multiselect
        class="multiselect action-name"
        :value="ruleActionName"
        :options="ruleActionNames"
        :searchable="true"
        :show-labels="false"
        @select="$store.commit('updateRuleActionName', $event)"
      />
      <input
        class="input action-value"
        type="text"
        placeholder="Action value"
        :value="ruleActionValue"
        @input="$store.commit('updateRuleActionValue', $event.target.value)"
      />

    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator'
import {RULE_CONDITION_NAMES} from '@/constants'
import ruleMixin from "@/components/RuleMixin";
import Multiselect from "vue-multiselect";

@Component({
  components: {Multiselect}
})
export default class RuleAction extends Mixins(ruleMixin) {
  get ruleActionNames() {
    return RULE_CONDITION_NAMES
  }
  get ruleActionName() {
    if (!this.selectedRule) {
      return ''
    }
    return this.selectedRule.action.name
  }
  get ruleActionValue() {
    if (!this.selectedRule) {
      return ''
    }
    return this.selectedRule.action.value
  }
}
</script>

<style scoped lang="scss">
  .action-name{
    margin-right: 20px;
  }
</style>
