<template>
  <div class="condition-branch" :style="{'margin-left': depth > 0 ? '20px' : ''}">

    <!-- 'all' or 'any' block-->
    <div class="condition-list-type-section row-flex">
      <div style="width:23%">
        <multiselect
          id="base-condition"
          class="condition-list-type"
          mode="edit"
          :allow-empty="false"
          :value="conditionsKey"
          :options="conditionCombinerOptions"
          :show-labels="false"
          @select="$store.commit('updateConditionCombiner', {value: $event, path})">
        </multiselect>
      </div>
    </div>


      <!-- contains rows-->
    <div class="child-rows branch-left-border">
      <!-- for each condition in the base condition list-->
      <div v-for="(condition, conditionIndex) in conditions" :key="conditionIndex">
        <!-- if this condition is an array - recurse-->
        <template v-if="isBranch(condition)">
          <div class="row-flex">
            <!-- blue dash '-'-->
            <div class="tree-dash" style="height:27px"></div>
            <!-- RECURSE-->
            <RuleConditionBranch
              :branch="condition"
              :path="getRecursivePath(conditionIndex, condition)"
              :depth="depth + 1"
              :index="conditionIndex"
            />
          </div>
        </template>
        <!-- otherwise this will be a leaf node - display a variable row-->
        <template v-else>
          <div class="row-flex condition-row">
            <div class="tree-dash"></div>
            <div class="tree-content" style="width:100%;">
              <!-- Left Hand Side Field - wait till we get more input here-->
              <RuleConditionRow :condition="condition" :depth="depth" :index="conditionIndex" :path="path" />
            </div>
          </div>
        </template>
      </div>

      <div class="row-flex condition-row">
        <div class="tree-dash-addition-options" style="margin-bottom:0px;"></div>
        <div class="tree-content addition-section">
          <div class="addition-item" style="left:0" @click="$store.commit('addCondition', path)">add condition</div>
          <template v-if="depth < depthLimit">
            <div class="addition-item" style="left:24%;" @click="$store.commit('addBranch', {combiner: 'any', path})"><span>add</span><span class="bold">any</span><span>condition block</span></div>
            <div class="addition-item" style="left:60%;" @click="$store.commit('addBranch', {combiner: 'all', path})"><span>add</span><span class="bold">all</span><span>condition block</span></div>
          </template>
        </div>
      </div>
    </div>



  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import {RULE_CONDITION_COMBINER, RULE_BRANCH_DEPTH_LIMIT} from "@/constants"
import Multiselect from "vue-multiselect"
import RuleConditionRow from "./RuleConditionRow.vue"

@Component({components: {Multiselect, RuleConditionRow}})
export default class RuleConditionBranch extends Vue {
  @Prop({required: true})
  branch!: Types.RuleConditionBranch

  @Prop({required: true})
  path!: string

  @Prop({required: true})
  depth!: number

  @Prop({required: true})
  index!: number

  // returns the first level of conditions
  get conditions() {
    return Object.values(this.branch)[0]
  }
  // returns the key of the first level of conditions ('all' or 'any')
  get conditionsKey() {
    return Object.keys(this.branch)[0]
  }

  get depthLimit() {
    return RULE_BRANCH_DEPTH_LIMIT
  }

  get conditionCombinerOptions() {
    return RULE_CONDITION_COMBINER
  }

  isBranch(condition: Types.RuleConditionBranch){
    // determine if a condition object is a branch not a leaf basically is object -> {'all': [...]} or {'any': [...]}
    return Array.isArray(Object.values(condition)[0])
  }

  getRecursivePath(index: number, condition: Types.RuleConditionBranch) {
    // creates the next recursive path for example if the current path is 'any' it updates to 'any[2].all' continuing to for example 'any[2].all[1].any'
    return `${this.path}.${index}.${this.getConditionKey(condition)}`
  }

  getConditionKey(condition: Types.RuleConditionBranch) {
    return Object.keys(condition)[0]
  }
}
</script>

<style lang="scss" scoped>
  @import "@/assets/app.scss";

  .addition-item{
    position:absolute;
    top:-11px;
    span {
      margin-right:5px;
    }
  }
  .condition-list-type-section{
    &:hover{
      .remove-container{
        opacity:1;
      }
    }
  }
  .remove-container{
    margin-left:auto;
    width:2%;
    opacity:0;
    color: #bec5cb;
      cursor: pointer;
    text-align: right;
    padding-top: 5px;
  }
  .condition-list-type{
    min-width:148px;
  }
  .branch-margin{
    margin-left:10px;
  }
  .condition-section {
    padding:0 15px;
  }

  .branch-left-border{
    border-left:1px solid #82D2FF;
  }

  .between-text{
    text-align: center;
    margin-top: 7px;
    font-size:16px;
  }
  .header-text {
    font-weight: bold;
    font-size: 14px;
    color:#333;
  }
  .condition-branch {
    margin-top:10px;
    width:100%;



    & .child-rows {

      margin-top:10px;
      padding-top:5px;

      & .condition-row {
        margin-top:10px;
      }

      & .tree-dash {
        border-top:1px solid #82D2FF;
        width: 15px;
        margin-top: 25px;
      }

      & .tree-content {
        display:flex;
        justify-content:space-between;
        width:540px;
        margin-left:10px;
        margin-top:5px;

        &.addition-section {
          position:relative;
          justify-content:space-between;
          color: #107FEE;
          cursor:pointer;
          margin-top:30px;
        }
      }
    }

  }
  .tree-dash-addition-options{
    border-bottom:1px solid #82D2FF;
    width: 15px;
    margin-bottom: 16px;
  }
  .bold{
    font-weight:bold;
  }
</style>
