<template>
  <div class="container row-flex">
    <div class="condition-input-container">

      <!-- name -->
      <multiselect
        class="multiselect"
        :id="'condition-lhs-variable-' + index"
        :allow-empty="false"
        :value="condition.name"
        :options="conditionNameOptions"
        :show-labels="false"
        @select="updateField('name', $event)"
      />


    </div>
    <!-- operator -->
    <div class="condition-input-container">
      <multiselect
        class="multiselect multiselect-small"
        :id="'condition-lhs-operator-' + index"
        :allow-empty="false"
        :value="condition.operator"
        :options="conditionOperatorOptions"
        :show-labels="false"
        @select="updateField('operator', $event)"
      />
    </div>

    <!-- value -->
    <div class="condition-input-container">
      <input
        class="input condition-input"
        type="text"
        placeholder="Condition value"
        :value="condition.value"
        @input="updateField('value', $event.target.value)"
      />
    </div>

    <!-- remove -->
    <div class="remove-container" @click="$store.commit('removeCondition', {path, index})">X</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop} from 'vue-property-decorator'
import Multiselect from "vue-multiselect";
import { RULE_CONDITION_NAMES, RULE_CONDITION_STRING_OPERATORS, RULE_CONDITION_NUMBER_OPERATORS } from "@/constants";

@Component({components: {Multiselect}})
export default class RuleConditionRow extends Vue {
  @Prop({required: true})
  path!: string

  @Prop({required: true})
  depth!: number

  @Prop({required: true})
  index!: number

  @Prop({required: true})
  condition!: Types.RuleCondition

  get conditionNameOptions() {
    return RULE_CONDITION_NAMES
  }

  get conditionOperatorOptions() {
    // 'string' types
    if (['Customer Name', 'Job Number', 'Referal Source'].includes(this.condition.name)) {
      return RULE_CONDITION_STRING_OPERATORS
    }
    // 'number types'
    else if (['Customer Revenue', 'Job Revenue', 'Customer Age', 'Invoice Revenue',].includes(this.condition.name)) {
      return RULE_CONDITION_NUMBER_OPERATORS
    }
    return []
  }

  get indexPath() {
    return `${this.path}.${this.index}`
  }

  updateField(key: 'name' | 'operator' | 'value', value: any) {
    this.$store.commit('updateConditionField', {value: value, path: `${this.indexPath}.${key}`})
    if (key === 'name') {
      // wait for vue to register the vuex changes
      this.$nextTick(() => {
        this.$store.commit('updateConditionField', {value: this.conditionOperatorOptions[0], path: `${this.indexPath}.operator`})
        this.$store.commit('updateConditionField', {value: '', path: `${this.indexPath}.value`})
      })
    }
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";
  .condition-input{
    height: 90%;
  }
  .container{
    justify-content: space-between;
    width: 100%;
  }
  .inline {
    display: flex;
  }
  .single-condition-text{
    line-height: 32px;
    width: 100%;
    text-align: center;
    &-second-row {
      text-align: left;
    }
  }
  .condition-row{
    flex-wrap:wrap;
    &:hover{
      .remove-container{
        opacity:1;
      }
    }
  }
  .remove-container{
    line-height: 25px;
    width:4%;
    opacity:0;
    color: #bec5cb;
      cursor: pointer;
    text-align: right;
    padding-top: 5px;
    &-second-row{
      width:2%;
      padding-top:22px;
      margin-left:7px;
    }
  }
  .condition-input-container{
    margin-right:8px;
    &-small{
      width:20%;
    }

    &-first-row-full {
      width:100%;
    }
    &-second-row{
      width: 45%;
      margin-top:15px;
    }
  }

</style>
