<template>
  <div class="container">
    <div class="sub-header">
      When
    </div>
  <div class="event-context-container">
    <multiselect
      class="multiselect"
      :value="ruleContext"
      :options="ruleContextOptions"
      :searchable="true"
      :show-labels="false"
      @select="$store.commit('updateRuleEventContext', $event)"
    />

    <span class="combine-text">is</span>

    <multiselect
      class="multiselect"
      :value="ruleTrigger"
      :options="ruleTriggerOptions"
      :searchable="true"
      :show-labels="false"
      @select="$store.commit('updateRuleEventTrigger', $event)"
    />
  </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator'
import ruleMixin from "@/components/RuleMixin";
import Multiselect from "vue-multiselect";
import { RULE_EVENT_CONTEXT_OPTIONS, RULE_EVENT_TRIGGERS } from "@/constants";

@Component({
  components: {Multiselect},

})
export default class RuleEvent extends Mixins(ruleMixin) {
  get ruleContextOptions() {
    return RULE_EVENT_CONTEXT_OPTIONS
  }
  get ruleTriggerOptions() {
    return RULE_EVENT_TRIGGERS
  }
  get ruleContext() {
    if (!this.selectedRule) {
      return null
    }
    return this.selectedRule.event.context
  }
  get ruleTrigger() {
    if (!this.selectedRule) {
      return null
    }
    return this.selectedRule.event.trigger
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

  .container {
    padding-bottom: 20px;
    border-bottom: $border;
  }
  .event-context-container{
    display: flex;
    justify-content: space-between;
  }
</style>
