<template>
  <div class="container">
    <div class="sub-header">
      If
    </div>
    <div v-if="!haveConditions" class="no-conditions" @click="$store.commit('addCondition', ruleConditionPath)">
      Add Conditions
    </div>
    <div class="content" v-else>
      <RuleConditionBranch
        :branch="conditions"
        :path="ruleConditionPath"
        :depth="0"
        :index="-1"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator'
import ruleMixin from "@/components/RuleMixin";
import RuleConditionBranch from "./RuleConditionBranch.vue"

@Component({components: {RuleConditionBranch}})
export default class RuleCondition extends Mixins(ruleMixin) {
  get ruleConditionPath() {
    if (this.conditions?.all) {
      return 'all'
    }
    if (this.conditions?.any) {
      return 'any'
    }
    return ''
  }
  get conditionRootAny() {
    if (!this.conditions) {
      return []
    }
    return this.conditions.any || []
  }
  get conditionRootAll() {
    if (!this.conditions) {
      return []
    }
    return this.conditions.all || []
  }
  get haveConditions() {
    if (!this.conditions) {
      return false
    }
    if (this.conditionRootAny.length > 0 || this.conditionRootAll.length > 0) {
      return true
    }
    return false
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/app.scss";

  .content {
    height: 240px;
    overflow-y: auto;
    padding-right: 10px;
  }
  .container {
    // bad practice - just running out of time
    height: 240px !important;
    padding-bottom: 20px;
    border-bottom: $border;
  }
  .no-conditions{
    font-style: italic;
    color: $blue;
    cursor: pointer;
  }
</style>
