$border: 1px solid rgba(0, 0, 0, .1);
$blue: #107fee;
$red: #ff0808;
$grey: #b0b0b0;


html, body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #f5f5f5 0%, #e2e2e2 100%)
}

button {
	padding: 0;
	border: none;
	background: none;
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}

	pointer-events: auto;
	font-size: 11px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;

}

.input {
	border: none;
	outline: none;
	transition: all .2s;
	background: rgba(233,233,233, .3);
	color: #444;
	&:focus {
		outline: none;
		border-bottom: 1px solid $blue;
		background: rgba(233,233,233, .7);
	}
	border-bottom: 1px solid #888;
	&::placeholder {
		opacity: .3;
	}
}

.multiselect{
	width: 200px;
	max-width: 200px;
	&-small {
		width: 150px;
	}
}

.sub-header {
	font-size: 20px;
	padding: 10px 0;
}

.primary-btn {
	padding: 0 12px;
	color: #FFF;
    background-color: $blue;
	border-color: $blue;
	&:hover {
		background-color: #3298ff;
	}
}

.negative-btn {
	padding: 0 12px;
	color: #FFF;
    background-color: $red;
	border-color: $red;
	&:hover {
		background-color: #ff3e67;
	}
}
.neutral-btn {
	padding: 0 12px;
	color: #FFF;
    background-color: $grey;
	border-color: $grey;
	&:hover {
		background-color: #ddd;
	}
}

.inline-container {
	display: flex;
}

.combine-text {
	line-height: 35px;
	font-style: italic;
}

@mixin card {
	box-shadow: 1px 1px 3px #aaa;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.1);
	background-color: white;
}

.row-flex {
	display: flex;
}
