<template>
  <div class="wrapper">
    <RuleTitle class="rule-title" />
    <RuleSidebar class="rule-sidebar" />
    <RuleName class="rule-name" />
    <RuleBody class="rule-body" />
    <RuleControls class="rule-controls" />
  </div>
</template>

<script lang="ts">
import RuleTitle from "./components/RuleTitle.vue"
import RuleSidebar from "./components/RuleSidebar.vue"
import RuleName from "./components/RuleName.vue"
import RuleBody from "./components/RuleBody.vue"
import RuleControls from "./components/RuleControls.vue"
import { Component, Vue } from "vue-property-decorator";

@Component({ components: {
  RuleTitle,
  RuleSidebar,
  RuleName,
  RuleBody,
  RuleControls,
} })
export default class App extends Vue {
  async mounted() {
    await this.$store.dispatch("loadRules")
  }
}
</script>

<style lang="scss">

/* Top Level global styling */
@import "assets/app.scss";

</style>

<style lang="scss" scoped>

/* 'scoped' component level styling */
@import "assets/app.scss";

.wrapper {

  @include card;

  display: grid;
  grid-template-columns: 300px 700px;
  grid-template-rows: 80px 80px 500px 80px;
  grid-template-areas:
    "rule-title rule-title"
    "rule-sidebar rule-name"
    "rule-sidebar rule-body"
    "rule-sidebar rule-controls";
}

.rule-title {
  grid-area: rule-title;
}
.rule-sidebar {
  grid-area: rule-sidebar;
}
.rule-name {
  grid-area: rule-name;
}
.rule-body {
  grid-area: rule-body;
  height: 100%;
}
.rule-controls {
  grid-area: rule-controls;
}
</style>
